- provide(:description, 'À propos de lkdjiin (xavier nayrac), entrepreneur et développeur')
- provide(:keywords, 'blog, lkdjiin, freelance, xavier nayrac, travail, expérience')
- provide(:title, 'À propos')
%h1 À propos
= my_gravatar(size: 128)
%p
  Dès que j'aurais trouver un truc intéressant à dire, je remplirais cette page.
