.sidebar
  %h1.gamma lkdjiin's blog
  %div Articles about my work as a freelance web developper
  %div= link_to 'about', '#'
  %div= link_to '@lkdjiin', 'https://twitter.com/lkdjiin', target: "_blank"

